{% extends 'videoRental/base.html' %}
{% load i18n %}
{% block content %}
<div class="container-detail">
<h1>{% trans 'Movie Rent List' %}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      
      
      
      {% if user.is_superuser %}
      <th scope="col">{% trans 'Customer' %}</th>
      {% endif %}
      <th scope="col">{% trans 'Movie' %}</th>
      <th scope="col">{% trans 'Checkout Date' %}</th>
      <th scope="col">{% trans 'Return Date' %}</th>
    </tr>
  </thead>
  <tbody>
{% for rent in object_list %}
<tr>
<th scope="row">{{rent.id}}</th>
{% if user.is_superuser %}
<td>{{rent.customer.user.username}}</td>
{% endif %}
<td>{{rent.movie}}</td>
<td>{{rent.checkout_date}}</td>
<td>{{rent.return_date}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock content %}