{% extends 'videoRental/base.html' %}
{% load i18n parler_tags %}
{% block content %}
<div class="container-detail">
    <div class="row movie-detail">
        <div class="col-lg-4">
            <h2>{{movie.title}}</h2>
            {% if movie.picture != "" %}
                <img class="cover" src="{{movie.picture.url}}" alt="Affiche">
            {% else %}
                <p class="cover">{%trans 'Image indisponible'%}</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            
            {% if movie.rented == True %}
                <h3>{%trans 'Indisponible'%}</h3>
            {% else %}
                <h3>{%trans 'A louer'%}</h3>
            {% endif %}
                
            <ul>
                <li>
                    {% trans 'Genre' %} : {{movie.genre}}
                </li>
                <li>
                    {% trans 'Directeur' %} : {{movie.director}}
                </li>
                <li>
                    {% trans 'Acteurs' %} : {{movie.actors}}
                </li>
                <li>{% trans 'Pays' %} : {{movie.country}}
                </li>
                <li>
                    {% trans 'Date de sortie' %} : {{movie.release_date}}
                </li>
                <li>{% trans 'Durée' %} : {{ movie.length|time:"H"}}h
                    {{ movie.length|time:"i"}}m</li>
            </ul>
            <span>{% trans 'Synopsis' %} :</span>
            <p>{{movie.synopsis}}</p>
        </div>
        <div class="col-lg-4">
            
            {% if movie.trailer_url != null %}
            <iframe  
            src="{{movie.trailer_url}}" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            controls=2 
            ></iframe>
            {% endif %}
                <a href="{% url "movie-update" movie|get_translated_field:'slug' %}">
                <button>{% trans 'Modifier' %}</button>
                </a>
                <form action="{% url "movie-delete" movie|get_translated_field:'slug' %}" method="get">{% csrf_token %}
                    <button type="submit">{% trans 'Supprimer' %}</button>
                </form>
                {% if movie.rented == False %}
                <form action="{% url 'movieRentAdd' %}" method="post">
                {% csrf_token %}
                <input type="text" name="movie-pk" value="{{movie.id}}" hidden>
                <input type="text" name="customer-username" value="{{user.username}}" hidden>
                    <button type="submit">{% trans 'Louer' %}</button>                
                </form>
                {% elif user.is_superuser %}
                <form action="{% url 'movieReturn' %}" method="post">
                {% csrf_token %}
                <input type="text" name="movie-pk" value="{{movie.id}}" hidden>
                    <button type="submit">{% trans 'Retour' %}</button>                
                </form>
                {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}